<div class="wrap header">
  <h2>Routes by PrettyRoutes!</h2>

  <div class="search">
    <input id="search-routes" placeholder="Search"/>
  </div>
</div>

<div class="wrap">
  <%= render layout: "route_wrapper" do %>
    <%= render partial: "route", collection: @routes %>
  <% end %>
</div>
